# Server
PORT=3000

# PostgreSQL
DB_HOST="localhost"
DB_PORT=5432
DB_NAME="lawlibra"
DB_USER="postgres"
DB_PASSWORD="yourpassword"

# JWT
JWT_SECRET="your_super_secret_key_minimum_32_chars_change_this"
JWT_EXPIRES_IN="8h"
